/* PT Sans Narrow */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');


body {
    margin: 0;

    background-image: url(img/background.jpg);
}

.container {
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
}

.button {
    display: inline-block;

    padding: 17px 34px;

    border: 0px solid #000;
    background: #000;

    text-decoration: none;
    text-transform: uppercase;

    font-family: "PT Sans Narrow", sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
}


/* Header */

.header {
    height: 72px;
    background-color: #000000;
}

.header__nav {
    display: flex;
    align-items: center;
}

.nav2, .nav3, .nav4, .nav5 {
    display: inline-block;

    text-align: center;

    text-decoration: none;
    text-transform: uppercase;

    font-family: "PT Sans Narrow", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #fff;

    padding: 26px 22px;
    margin-right: 10px;

    position: relative;
    top: -4px;
}

.nav1 {
    display: inline-block;

    height: 40px;
    width: 100px;

    text-align: center;

    text-decoration: none;
    text-transform: uppercase;

    font-family: "PT Sans Narrow", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #fff;

    border-bottom: 4px solid #fff;
    width: 100px;

    position: relative;
    top: -10px;

    padding-top: 35px;
    margin-right: 10px;
}

.nav6 {
    display: inline-block;

    height: 40px;
    width: 100px;

    text-decoration: none;
    text-transform: uppercase;

    font-family: "PT Sans Narrow", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #fff;

    position: relative;
    left: 290px;
    top: -10px;

    padding-top: 40px;
}

.nav6_login {
    opacity: 30%;

    position: relative;
    top: 3px;

}

.nav1:hover, .nav2:hover, .nav3:hover, .nav4:hover, .nav5:hover, .nav6:hover {
    background-color: #242424;
    transition: 0.2s;
}



/* Index */

.index {
    height: 1489px;
}

.index__logo {
    width: 371px;
    height: 155px;

    position: relative;
    left: 284px;
    right: 284px;
    top: 60px;
    bottom: 0;

}

.column__names {
    display: flex;
    justify-content: space-around;

    padding-top: 140px;
}

.column1__name, .column2__name, .column3__name {
    text-transform: uppercase;

    font-family: "PT Sans Narrow", sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

.column1__name span, .column2__name span, .column3__name span {
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-bottom: 20px solid #fff;
    position: relative;
    left: 26px;
}

.column1__name span:after, .column2__name span:after, .column3__name span:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    left: -20px;
    top: 59px;
    border: 20px solid transparent;
    border-top: 20px solid #fff;
}

.column__text {
    display: flex;
    justify-content: space-around;
}

.column1__text, .column2__text, .column3__text {
    padding-top: 80px;

    font-family: "PT Sans Narrow", sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #fff;

    text-align: center;
    text-transform: uppercase;
}



/* 1. NewsPhotoes */

.container__newsPhotoes, .container__contactJoin {
    width: 100%;
    max-width: 940px;
    margin: 0 auto;

    padding-top: 60px;
}

.newsPhotoes__columns, .contactJoin__columns {
    width: 940px;
    height: 420px;

    background-color: #faf7f4;

    display: flex;
    justify-content: space-between;
}

.new_name, .contact_name {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #000;

    text-transform: uppercase;

    padding-top: 30px;
    padding-left: 70px;
}

.photoes_name, .join_name {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #000;

    text-transform: uppercase;

    padding-top: 30px;
    padding-left: 0px;
}

.new1, .new2, .address, .work_time {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #000;

    padding-top: 35px;
    padding-left: 70px;

    text-transform: uppercase;
}

.new1 span, .new2 span {
    padding-top: 15px;

    text-transform: none;
}

.button__news {
    display: inline-block;

    margin-top: 33px;
    margin-left: 70px;
    padding: 17px 34px;

    border: 0px solid #000;
    background: #000;

    text-decoration: none;
    text-transform: uppercase;

    font-family: "PT Sans Narrow", sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
}

.button__news:hover {
    background-color: #663d15;
    transition: 0.2s;
}

.vertical-line1 {
    margin-top: 80px;
    margin-left: 37px;
    margin-right: 80px;
}

.vertical-line2 {
    margin-top: 80px;
    margin-left: 37px;
    margin-right: 55px;
}

.photo {
    padding-top: 25px;
    padding-right: 80px;
}

.photoes_buttons {
    margin-top: 38px;
}

.button__photoes1 {
    margin-right: 20px;

    display: inline-block;

    padding: 16px 52px;

    border: 0px solid #000;
    background: #000;

    text-decoration: none;
    text-transform: uppercase;

    font-family: "PT Sans Narrow", sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
}

.button__photoes2 {
    display: inline-block;

    padding: 16px 52px;

    border: 0px solid #000;
    background: #000;

    text-decoration: none;
    text-transform: uppercase;

    font-family: "PT Sans Narrow", sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
}

.button__photoes1:hover, .button__photoes2:hover {
    background-color: #663d15;
    transition: 0.2s;
}

.join1 {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #000;

    padding-top: 35px;
    padding-right: 90px;


    text-transform: uppercase;
}

.button__contacts {
    margin-top: 30px;
    margin-left: 70px;
}

.button__contact1 {
    margin-right: 20px;

    display: inline-block;

    padding: 16px 30px;

    border: 0px solid #000;
    background: #000;

    text-decoration: none;
    text-transform: uppercase;

    font-family: "PT Sans Narrow", sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
}

.button__contact2 {
    display: inline-block;

    padding: 16px 30px;

    border: 0px solid #000;
    background: #000;

    text-decoration: none;
    text-transform: uppercase;

    font-family: "PT Sans Narrow", sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
}

.button__contact1:hover, .button__contact2:hover {
    background-color: #663d15;
    transition: 0.2s;
}

/* 2. Boxes */

.boxes1 {
    display: inline-block;
}

.boxes2 {
    display: inline-block;
}

.box_input {
    padding-left: 15px;

    width: 136px;
    height: 39px;

    border-color: #000;

    font-family: "PT Sans Narrow", sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #4a4948;
}

.box_input1 {
    padding-left: 15px;

    margin-right: 20px;

    width: 136px;
    height: 41px;

    border-color: #000;

    font-family: "PT Sans Narrow", sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #4a4948;
}

.box_label {
    display: block;

    margin-left: 17px;
    margin-top: 16px;
    margin-bottom: 12px;

    font-family: "PT Sans Narrow", sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
}

.button_boxes {
    display: inline-block;
    position: absolute;

    margin-top: 205px;
    margin-left: -335px;

    padding: 16px 137px;

    border: 0px solid #000;
    background: #000;

    text-decoration: none;
    text-transform: uppercase;

    font-family: "PT Sans Narrow", sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-align: center;
}

.button_boxes:hover {
    background-color: #663d15;
    transition: 0.2s;
}



/* Footer */

.footer {
    width: 100%;
    height: 195px;
    background-color: #222222;
}

.footer__row {
    display: flex;
    justify-content: space-between;
}

.footer__rightText, .letsFriend_name, .developed_name {
    padding-top: 65px;

    font-family: "PT Sans Narrow", sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;

    line-height: 24px;
}

.letsFriend_images {
    position: relative;
    top: 22px;
    right: 14px;
}

.html_academy {
    position: relative;
    top: 22px;
    right: 30px;

    border: 1px solid #000;
    background: #000;
    width: 140px;
    height: 43px;

    font-family: "PT Sans Narrow", sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.html_academy span {
    position: relative;
    top: 14px;
    left: 27px;
}
