/* PT Sans Narrow */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');



body {
    margin: 0;

    background-image: url(img/Layer%2024%20copy.jpg);
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}



/* Header */
.header {
    height: 72px;
    background-color: #000000;

    padding-left: 140px;
}

.header__nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.barber {
    padding-top: 20px;
    padding-right: 40px;
}

.nav1, .nav2, .nav3, .nav4, .nav5 {
    text-decoration: none;
    text-transform: uppercase;

    font-family: "PT Sans Narrow", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #fff;

    position: relative;
    padding-top: 20px;
    padding-right: 40px;

}

.nav6 {
    padding-left: 360px;
    padding-top: 20px;

    text-decoration: none;
    text-transform: uppercase;

    font-family: "PT Sans Narrow", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
}



/* Item */
.item {
    width: 100%;
    height: 200px;
}

.item__title {
    padding-top: 60px;
    padding-bottom: 40px;

    font-family: "PT Sans Narrow", sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
}

.itemWay {
    display: flex;
    flex-wrap: wrap;

    padding-right: 15px;
    padding-bottom: 80px;
}

.itemWay1, .itemWay2 {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;

    padding-right: 15px;
}

.itemWay3 {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #aba9a7;
    text-transform: uppercase;

    padding-right: 15px;
}

.triangle {
    padding-right: 15px;
}




/* Main */
.main {
    width: 100%;
    height: 785px;
}

.main_flex {
    display: flex;
    justify-content: space-between;
}

/*
.main1_block {

}
*/

.main1_title {
    padding-top: 20px;

    font-family: "PT Sans Narrow", sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;

    padding-bottom: 30px;
}

.main2_title {
    padding-top: 55px;

    font-family: "PT Sans Narrow", sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;

    padding-bottom: 35px
}


/* Checkboxes */

.checkbox {
    position: relative;

    padding-bottom: 17px;
}

.checkbox__input {
    -webkit- appearance: none;
    appearance: none;
    position: absolute;
}

.checkbox__label {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;

    padding-left: 46px;

    padding-bottom: 17px;

    vertical-align: middle;

    cursor: pointer;
}

.checkbox__label:before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;

    border: 2px solid #000;
    background-color: #fff;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.checkbox__label:after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;

    background: url(svg/cross.svg) no-repeat;
    background-size: 16px 16px;
    opacity: 0;

    position: absolute;
    top: 4px;
    left: 4px;
    z-index: 2;

    transition: opacity .2s linear;
}

.checkbox__input:checked + .checkbox__label:after {
    opacity: 1;
}



/* Radio */

.radio {
    position: relative;

    padding-bottom: 20px;
}

.radio__input {
    -webkit- appearance: none;
    appearance: none;
    position: absolute;
}

.radio__label {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;

    padding-left: 46px;

    padding-bottom: 20px;

    vertical-align: middle;

    cursor: pointer;
}

.radio__label:before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;

    border: 2px solid #000;
    background-color: #fff;
    border-radius: 50%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.radio__label:after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;

    background-color: #000;
    border-radius: 50%;
    opacity: 0;

    position: absolute;
    top: 7px;
    left: 7px;
    z-index: 2;

    transition: opacity .2s linear;
}

.radio__input:checked + .radio__label:after {
    opacity: 1;
}

.radio__label span {
    padding-left: 46px;
}



/* Button */
.btn {
    border: 0px solid #000;
    background-color: #000;

    padding: 16px 35px 16px 35px;

    font-family: "PT Sans Narrow", sans-serif;
    font-size: 13px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;

    position: relative;
    top: 55px;
    left: 0;
    z-index: 0;
}

.btn:hover {
    background-color: #663d15;
    transition: 0.2s;
}



/* Products */

.products {
    display: flex;
    flex-wrap: wrap;
    margin: -15px -15px;
/*
    width: 800px;
    height: 592px;
*/
    padding-top: 30px;
    padding-left: 70px;
}

.product {
    border: 0px solid #fff;
    width: 220px;
    height: 300px;
    background-color: #fff;

    font-family: "PT Sans Narrow", sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #000;
    text-decoration: none;

    margin: 15px 15px;

    box-shadow: 0 0 .6px #000;
}

.product_name {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #000;

    padding-left: 16px;
}



/* ItemButton */

.item__buttons {
    padding-left: 16px;
    padding-bottom: 16px;
}

.item__button1 {
    border: 1px solid #e5e5e5;
    background-color: #e5e5e5;

    width: 109px;
    height: 44px;

    position: absolute;
}

.item__button1 span {
    position: relative;
    top: 13px;
    left: 37px;

    font-family: "PT Sans Narrow", sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
}

.item__button2 {
    border: 0px solid #000;
    background-color: #000;

    padding: 14px 19px;

    text-decoration: none;

    position: relative;
    top: 14px;
    left: 110px;
}

.item__button2 span {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.item__button2:hover {
    background-color: #663d15;
    transition: 0.2s;
}




/* Product Numbers */

.number1, .number2, .number3, .number4 {
    border: 0px solid #000;
    background-color: #000;
    padding: 15px 20px;

    font-family: "PT Sans Narrow", sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #fff;

    text-decoration: none;

    position: relative;
    top: 90px;
    left: 280px;
}

.number1:hover, .number2:hover, .number3:hover, .number4:hover {
    background-color: #fff;
    color: #000;
    transition: 0.2s;
}



/* Footer */

.footer {
    width: 100%;
    height: 189px;
    background-color: #222222;

    margin-top: 49px;
}

.footer__row {
    display: flex;
    justify-content: space-between;
}

.footer__rightText, .letsFriend_name, .developed_name {
    padding-top: 65px;

    font-family: "PT Sans Narrow", sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;

    line-height: 24px;
}

.letsFriend_images {
    position: relative;
    top: 22px;
    right: 14px;
}

.html_academy {
    position: relative;
    top: 22px;
    right: 30px;

    border: 1px solid #000;
    background: #000;
    width: 140px;
    height: 43px;

    font-family: "PT Sans Narrow", sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.html_academy span {
    position: relative;
    top: 14px;
    left: 27px;
}
