/* PT Sans Narrow */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');



body {
    margin: 0;

    background-image: url(img/Layer%2024%20copy.jpg);
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}



/* Header */
.header {
    height: 72px;
    background-color: #000000;
}

.header__nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.barber {
    padding-top: 20px;
    padding-right: 40px;
}

.nav1, .nav2, .nav3, .nav4, .nav5 {
    text-decoration: none;
    text-transform: uppercase;

    font-family: "PT Sans Narrow", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #fff;

    position: relative;
    padding-top: 20px;
    padding-right: 40px;

}

.nav6 {
    padding-left: 360px;
    padding-top: 20px;

    text-decoration: none;
    text-transform: uppercase;

    font-family: "PT Sans Narrow", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
}



/* Item */
.item {
    width: 100%;
    height: 200px;
}

.item__title {
    padding-top: 60px;
    padding-bottom: 40px;

    font-family: "PT Sans Narrow", sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
}

.itemWay {
    display: flex;
    flex-wrap: wrap;

    padding-right: 15px;
    padding-bottom: 80px;
}

.itemWay1, .itemWay2 {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;

    padding-right: 15px;
}

.itemWay2 span {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #aba9a7;
    text-transform: uppercase;

    padding-right: 15px;
}

.triangle {
    padding-right: 15px;
}




/* MainTitle */
.main {
    width: 100%;
    height: 800px;

    padding-top: 50px;
}

.main__title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainTitle__text {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: #000;

    text-transform: uppercase;

    position: relative;
    display: inline-block;
}

.mainTitle__text::before {
      content: '';
      display: block;
      background-color: #000;
      height: 2px;
      width: 160px;

      position: absolute;
      left: -34%;
      top: 50%;
}

.mainTitle__text::after {
      content: '';
      display: block;
      background-color: #000000;
      height: 2px;
      width: 160px;

      position: absolute;
      right: -34%;
      top: 50%;
}

.mainColumn_titles {
    display: flex;
    justify-content: space-between;
}

.mainColumn1_flex {

}

.mainColumn1_title, .mainColumn2_title {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #000;

    text-transform: uppercase;

    padding-top: 70px;
    padding-bottom: 40px;
}

.mainColumn1 {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #000;
    line-height: 50px;
}

* {
  box-sizing: border-box;
}



/* Table */
.table {
    width: 460px;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
}

.row {
    display: flex;
}

.service, .price {
    padding: 18px;
    flex-basis: 50%;

    display: block;
    border-left: 2px solid #000;
    border-top: 2px solid #000;

    font-family: "PT Sans Narrow", sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #000;

    text-transform: uppercase;
}

.price {
    text-align: center;
}



/* MainAboutUs */
.mainAboutUs {
    width: 100%;
    height: 500px;

    padding-top: 60px;

}

.aboutUs_title {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #000;

    text-transform: uppercase;
}

.aboutUs_flex {
    display: flex;
    justify-content: space-between;
}

.aboutUs1 {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #000;

    text-transform: uppercase;

    padding-top: 40px;
}

.aboutUs2 {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #000;

    text-transform: uppercase;

    padding-top: 40px;
    padding-right: 95px;
}



/* Footer */
.footer {
    width: 100%;
    height: 189px;
    background-color: #222222;
}

.footer__row {
    display: flex;
    justify-content: space-between;
}

.footer__rightText, .letsFriend_name, .developed_name {
    padding-top: 65px;

    font-family: "PT Sans Narrow", sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;

    line-height: 24px;
}

/*
.footer__rightText a {

}

.letsFriend_name {
    padding-top: 65px;

    font-family: "PT Sans Narrow", sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}
*/

.letsFriend_images {
    position: relative;
    top: 22px;
    right: 14px;
}

.html_academy {
    position: relative;
    top: 22px;
    right: 30px;

    border: 1px solid #000;
    background: #000;
    width: 140px;
    height: 43px;

    font-family: "PT Sans Narrow", sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.html_academy span {
    position: relative;
    top: 14px;
    left: 27px;
}
