/* PT Sans Narrow */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');



body {
    margin: 0;

    background-image: url(img/Layer%2024%20copy.jpg);
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}



/* Header */

.header {
    height: 72px;
    background-color: #000000;
}

.header__nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.barber {
    padding-top: 20px;
    padding-right: 40px;
}

.nav1, .nav2, .nav3, .nav4, .nav5 {
    text-decoration: none;
    text-transform: uppercase;

    font-family: "PT Sans Narrow", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #fff;

    position: relative;
    padding-top: 20px;
    padding-right: 40px;

}

.nav6 {
    padding-left: 360px;
    padding-top: 20px;

    text-decoration: none;
    text-transform: uppercase;

    font-family: "PT Sans Narrow", sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
}



/* Item */

.item {
    width: 100%;
    height: 200px;
}

.item__title {
    padding-top: 60px;
    padding-bottom: 40px;

    font-family: "PT Sans Narrow", sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
}

.itemWay {
    display: flex;
    flex-wrap: wrap;

    padding-right: 15px;
    padding-bottom: 80px;
}

.itemWay1, .itemWay2, .itemWay3 {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;

    padding-right: 15px;
}

.itemWay4 {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #aba9a7;
    text-transform: uppercase;

    padding-right: 15px;
}

.triangle {
    padding-right: 15px;
}



/* ItemMain */

.itemMain {
    width: 100%;
    height: 720px;
}

.item__inner {
    display: flex;
    justify-content: space-around;
}



/* 1. ItemImages */

/*
.item__images {
    display: inline-block;
}
*/


.itemBigImage {
    padding-bottom: 25px;
}

.itemLittleImages {
    display: flex;
}



/* 2. ItemOthers */

.item__enough {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;

    padding-left: 80px;
}

.item__enough span {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #aeaeae;
    text-transform: uppercase;

    padding-left: 170px;
}

.item__text {
    padding-top: 45px;

    font-family: "PT Sans Narrow", sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;

    line-height: 24px;
}




/* ItemButtons */

.item_buttons {}

.item__button1 {
    border: 1px solid #e5e5e5;
    background-color: #e5e5e5;

    width: 109px;
    height: 44px;
}

.item__button1 span {
    position: relative;
    top: 13px;
    left: 37px;

    font-family: "PT Sans Narrow", sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #000;
    text-transform: uppercase;
}

.item__button2 {
       border: 0px solid #000;
    background-color: #000;

    padding: 14px 19px;

    text-decoration: none;
}

.item__button2 span {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.item__button2:hover {
    background-color: #663d15;
    transition: 0.2s;
}
